<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{gameTitle.title}}</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{gameTitle.imageUrl}} alt="Game title image"
        onerror="this.src='../../../../assets/images/dual-shock.jpeg'">
    <mat-card-content>
        <p>{{gameTitle.description}}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="isLoggedIn$">
        <span>{{gameTitle.likes.length}}</span> likes
        <button (click)="like()" mat-icon-button style="color: rgb(255, 255, 255, .3);" *ngIf="(isLoggedIn$ |async) && canLike()">
            <mat-icon>favorite</mat-icon>
        </button>
        <button (click)="dislike()" mat-icon-button color="warn" *ngIf="(isLoggedIn$ |async) && !canLike()">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>