<section id="about">
    <div class="content">
        <div>
            <h2>ABOUT</h2>
        </div>

        <div class="error-details">
            <h3># GoodgamesUi</h3>

            <p>This is a training website written in angular where you can share computer game titles with others. Also you
            can like and share your oppinion about other's game.</p>

            <h3>## Home page</h3>

            <p>Every user or guest is able to access the home page. It is the landing page.</p>

            <h3>## Game titles page</h3>

            <p>Guest users can see the game titles list but they cannot see game titles' details.
            Logged in users can like and add comment to game titles.</p>

            <h3>## Add new game title page</h3>

            <p>Only logged in users can create a game title.</p>
        </div>
        <div class="error-actions">
            <a class="btn btn-primary btn-lg" routerLink="/home" routerLinkActive="router-link-active">
                <span class="glyphicon glyphicon-home"></span>
                Take Me Home
            </a>
        </div>
    </div>
</section>