<section id="not-found">
    <div class="content">
        <div>
            <h1>Oops!</h1>
            <h2>404 Not Found</h2>
        </div>
    
        <div class="error-details">
            Sorry, an error has occured, Requested page not found!
        </div>
        <div class="error-actions">
            <a class="btn btn-primary btn-lg" routerLink="/home" routerLinkActive="router-link-active" >
                <span class="glyphicon glyphicon-home"></span>
                Take Me Home
            </a>
        </div>
    </div>
</section>